# ===============================

# Python

# ===============================

**pycache**/
*.pyc
*.pyo
*.pyd
*.pyc.*

# ===============================

# Virtual Environments

# ===============================

venv/
env/
ENV/
.venv/

# ===============================

# Jupyter Notebook

# ===============================

.ipynb_checkpoints/

# ===============================

# VS Code

# ===============================

.vscode/

# ===============================

# OS Files

# ===============================

.DS_Store
Thumbs.db

# ===============================

# Logs

# ===============================

*.log

# ===============================

# Data (IMPORTANT)

# ===============================

data/
dataset/
datasets/
*.csv
*.zip

# ===============================

# Machine Learning Models (IMPORTANT)

# ===============================

*.h5
*.hdf5
*.keras
*.pt
*.pth
*.onnx
*.pkl

# Images (optional - if large)

# ===============================

images/
*.jpg
*.png

# ===============================

# Temporary files

# ===============================

*.tmp
*.temp
